<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.21.9" targetFramework="net48" />
  <package id="Guna.UI2.WinForms" version="2.0.4.4" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.32.1" targetFramework="net48" />
  <package id="MySqlConnector" version="2.2.5" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="OpenCvSharp4" version="4.7.0.20230115" targetFramework="net48" />
  <package id="OpenCvSharp4.Extensions" version="4.7.0.20230115" targetFramework="net48" />
  <package id="OpenCvSharp4.runtime.win" version="4.7.0.20230115" targetFramework="net48" />
  <package id="OpenCvSharp4.Windows" version="4.7.0.20230115" targetFramework="net48" />
  <package id="OpenCvSharp4.WpfExtensions" version="4.7.0.20230115" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="5.0.3" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="TensorFlowSharp" version="1.15.1" targetFramework="net48" />
</packages>